.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 6rem 0 1rem;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #7f5af0;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #7f5af0;
  box-shadow: inset -6px -4px 0 0 #333;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-switch input[type="checkbox"]:checked ~ .switch::before {
  transform: translateX(25px);
  box-shadow: none;
  background-color: #333;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #2cb67d;
}
